/* подборка цветов 
b2c3de
8cdfd6
6dc0d5
ad7a99
5a716a */
.bd-placeholder-img {
      
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .background {
    background: #8cdfd6;
  }
  .TextProperties {
    color: #5a716a;
  }
  .MainBackground {
    background: #6dc0d5;
  }

